odoo_test_helper
odoo14-addon-contract @ git+https://github.com/OCA/contract.git@refs/pull/1005/head#subdirectory=setup/contract
odoo14-addon-contract-sale-generation @ git+https://github.com/OCA/contract.git@refs/pull/1005/head#subdirectory=setup/contract_sale_generation
